{% extends 'pages/index.html' %}
{% load static %}
   
{% block content %}
{% include 'pages/logout.html' %}
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  <link rel="stylesheet" href="{% static 'css/attendance.css' %}">
  <div class="sidebar">
    <div class="logo">
        <img src="{% static 'image/logoams.png' %}"  height="50px" width="50px" alt="CVSU logo">
        <h5>OMSUFB</h5>
    </div>
    <br>
    <br><br><br>  
    
    <a href="{% url 'Apost' %}" {% if request.resolver_match.url_name == 'Apost' %}class="active"{% endif %}>News</a>
    <a href="{% url 'main' %}" {% if request.path == '/main/' %}class="active"{% endif %}>Instructor</a>
    <a href="{% url 'attendance' %}" {% if request.path == '/attendance/' %}class="active"{% endif %}>Attendance</a>
    <a href="{% url 'schedule' %}" {% if request.path == '/schedule/' %}class="active"{% endif %}>Schedule</a>
    <a href="{% url 'dtrm' %}" {% if request.path == '/dtrm/' %}class="active"{% endif %}>DTR</a>
    <a href="{% url 'Acomlab' %}" {% if request.path == '/Acomlab/' %}class="active"{% endif %}>Comlab</a>
    <a href="#" id="logoutButton">Log out</a> <!-- Updated to trigger modal instead of redirect -->


  </div>
  <section id="Attendance">
 <div class="content-at">
    <div class="clock-frame">
        <div class="clock" id="clock"></div>
        <div class="date" id="date">Loading...</div>
    </div>
    

    <table class="table-striped table-bordered table-responsive custom-table">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Date</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Status</th>
            
        </tr>
        {% for At in At %}
        <tr>
            <td>{{ At.IdNum }}</td>
            <td>{{ At.first_name }} {{ At.last_name }}</td>
            <td>{{ At.date }}</td>
            <td>{{ At.time_in }}</td>
            <td>{{ At.time_out }}</td>
            <td>
                {{ At.status }}
            </td>
        </tr>
        {% endfor %}
        
    </table>
    
    
  </div>
</section>
{% endblock %}
